/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header con logo y navegación */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background-color: cadetblue;
    justify-content: space-between;
}

header img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Sección "Quiénes Somos" */
.quienes-somos {
    display: flex;
    justify-content: end;
    height: auto;
    background-image: url('img/gato-e1556582412929.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
}
.quienes-somos div {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 50%;
    height: 150px;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Sección "Servicios" */
.servicios {
    padding: 50px;
    text-align: center;
}

.servicios-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.servicio {
    width: 30%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.servicio img {
    width: 100%;
}

/* Sección "Reservar Cita" */
.reservar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
    padding: 50px;
}

.boton-container button {
    background-color: aquamarine;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.boton-container button:hover {
    transform: translateY(5px);
}

.boton-container button:active {
    background-color: rgb(56, 162, 127);
}

.boton-container a {
    text-decoration: none;
    color: rgb(42, 142, 158);
}

.descripcion {
    width: 50%;
}

/* Sección "Nuestros Convenios" */
.convenios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: greenyellow;
    padding: 50px;
}

.logos {
    display: flex;
    gap: 10px;
}

.logos img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: black
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    color: white;
    padding: 20px;
}

.redes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.red img {
    width: 30px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .servicio {
        width: 80%;
    }

    .reservar, .convenios {
        flex-direction: column;
        text-align: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}
